@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightyellow;
}

.Tab:not(:first-child)::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;

  position: absolute;
  left: -1rem;
  bottom: 0;

  z-index: 2;
}

.Tab:not(.active) {
  background-color: gainsboro;
}

.Tab::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;

  position: absolute;
  right: -1rem;
  bottom: 0;
  z-index: 2;
}

.Tab.active::before {
  background-image: radial-gradient(circle at top left, transparent 0, transparent 70%, white 75%, white 100%);
}

.Tab.active::after {
  background-image: radial-gradient(circle at top right, transparent 0, transparent 70%, white 75%, white 100%);
}

.Tab:first-child {
  --tw-shadow-first: -5px 0 5px -4px #7C2D12;
}

.Tab:not(:first-child) {
  --tw-shadow-first: 0 0 0 0 #000;
}
